.env

# Artifacts
ca_chain
certfile
keyfile

# Folders
/.idea
/data/cleaned
/data/raw
/data/transformed
/data/geographical/rounding_indexer

/BACKUP
/models
/.cometml-runs
/Mapping attempts
**__pycache__


Files
**.ipynb
data/geographical/mixed_indexer/start_geodata.json
data/geographical/mixed_indexer/end_geodata.json

data/geographical/mixed_indexer/start_reverse_geocoding.json
data/geographical/mixed_indexer/end_reverse_geocoding.json

data/geographical/mixed_indexer/start_geojson.geojson
data/geographical/mixed_indexer/end_geojson.geojson

src/inference_pipeline/frontend/about.py